<div class="add-form-container">
  <h2>Login/Sign-Up</h2>
  <form class="ui big form">
    <div class="fields">
      <div class="eight wide field">
        <label>First Name</label>
        <input type="text" placeholder="First Name" name="firstName">
      </div>
      <div class="eight wide field">
        <label>Last Name</label>
        <input type="text" placeholder="Last Name" name="lastName">
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" placeholder="Address" name="address">
    </div>

    <div class="field">
      <label>Password</label>
      <input type="text" placeholder="Enter your password ..." name="password">
    </div>
    <div class="checkbox">
      <input type="checkbox">
      <label> &nbsp; Vendor? </label>
    </div>
    <button type="submit" class="ui submit large grey button right floated">Submit</button>
  </form>
</div>
