<!-- <div>{{cartProduct.username}}</div> -->
<div id="{{cartProduct._id}}" class="ui card">
  <div class="image">
    <img [src]="cartProduct?.imageUrl">
  </div>
  <div class="content">
    <a class="header">{{cartProduct.name}}</a>
    <div class="description">
      <div>Type: {{cartProduct.format}}</div>
      <div>Original Price:
        <i class="icon dollar sign"></i>
        {{cartProduct.unit_price.toFixed(2)}}
      </div>
      <div>
        Discount:
        <i class="icon dollar sign"></i>
        {{cartProduct.discount_price.toFixed(2)}}
      </div>
      <h4>  Final Price:<i class="icon dollar sign"></i>
        {{(cartProduct.unit_price - cartProduct.discount_price).toFixed(2)}}
      </h4>

    </div>

  </div>
  <div class="extra content ">
    <button data-value="{{cartProduct}}" class="ui basic button delete" (click)="removeFromCart()">
      <span>Remove &#160;</span>
      <i class="icon cart"></i>

    </button>
  </div>
</div>
