
<div class="signUp-container">
  <form class="ui big form" #signUpForm="ngForm" (submit)="onSubmit(signUpForm)">
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Username" ngModel>
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" ngModel>
  </div>
  <div class="ui checkbox">
  <input type="checkbox" name="vendor">
  <label> Vendor Login</label>
</div>
  <button type="submit" class="ui primary button float right floated">Login/Sign-Up</button>
  </form>
</div>
