<div class="ui menu header">

  <div class="ui container">
    <div class="item">
      <a [routerLink]="['/products']" aria-label="Products">
        <h1>Store Front</h1>
      </a>
    </div>

  </div>
  <div class="item" *ngIf="auth.isLoggedIn()">
    <button [routerLink]="['/products']" class="ui basic button" >
      <i class="product hunt icon" aria-hidden="true"></i>
      Products
  </button>
  </div>
  <div class="item" *ngIf="auth.isVendor()">
    <button [routerLink]="['/add-product']" class="ui basic button">
      <i class="add plus icon" aria-hidden="true"></i>
      Create Product
  </button>
  <button [routerLink]="['/add-coupon']" class="ui basic button">
    Coupons
  </button>
  </div>
  <div class=" ui buttons"
    *ngIf="!auth.isLoggedIn()">
      <button [routerLink]="['/login']" class="ui inverted red button">
        <i class="user icon" aria-hidden="true"></i>
        Login
      </button>
      <div class="or"></div>
      <button [routerLink]="['/sign-up']" class="ui inverted blue button">
        <i class="signup icon" aria-hidden="true"></i>
        Sign-Up
      </button>
  </div>
  <div class="item" *ngIf="auth.isUser()">
    <button [routerLink]="['/cart']" class="ui basic button">
      <i class="icon cart" aria-hidden="true"></i>

    </button>
  </div>

  <div class="right menu" *ngIf="auth.isLoggedIn()">
    <button class="ui primary button logout" (click)="logout()">
      Logout
    </button>
  </div>

</div>
