<h1> Cart </h1>
<h3 class="h3-top">Total after savings: ${{totalAfterSavings.toFixed(2)}}</h3>
<h3 class="h3-top">Total items : {{count}}</h3>

  <div class="ui container">
    <div class="ui grid">
      <app-cartProduct
        *ngFor="let cartProduct of cartProducts"
        [cartProduct]="cartProduct"
        (delete)="deleteCartItem($event)">
    </app-cartProduct>
    </div>
  </div>

  <div class="checkoutFooter">
    <div class="displayTotal" style="text-align:left;">
      <h3>Total items : {{count}}</h3>
      <h3>Original Total: ${{total.toFixed(2)}}</h3>
      <h3>Savings: ${{discountTotal.toFixed(2)}}</h3>
      <h3>Percent Savings: {{(this.percentSavings * (this.discountTotal/this.total)).toFixed(3)}}%</h3>
      <h3>Total: ${{totalAfterSavings.toFixed(2)}}</h3>
      <div *ngIf="finalTotal !== -1">
        <h4>Coupon applied: {{couponName}}</h4>
        <h2 >Final Total: ${{finalTotal.toFixed(2)}}</h2>
      </div>
    </div>

    <app-coupon-input
    (coupon)="verifyCoupon($event)"></app-coupon-input>
  </div>
