.container {
  margin-top: 50px;
}
.checkout-button{
  position:absolute;
  top: 100px;
  right: 50px;
}
.displayTotal{
  margin:50px auto;

}
.checkoutFooter{
  margin:50px auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

h1 , .h3-top{
  text-align: center;
  margin-top: 20px;
}
