<div class="ui card">
  <div class="image">
    <img [src]="product?.imageUrl">
  </div>
  <div class="content">
    <a class="header">{{product.name}}</a>
    <div class="description">
      <div>Type: {{product.format}}</div>
      <div>Price:
        <i class="icon dollar sign"></i>
        {{product.unit_price}}
      </div>
      <div>
        Current discount:
        <i class="icon dollar sign"></i>
        {{product.discount_price}}
      </div>
    </div>

  </div>
  <div class="extra content">
    <button data-value="{{product}}" class="ui basic button center floated" (click)="addToCart()">
      <span>Add &#160;</span>
      <i class="icon cart"></i>

    </button>
    {{addProduct}}
  </div>
</div>
