
<div class="add-form-container">
  <h2>Add Product Details</h2>
  <form class="ui big form" #contactForm="ngForm" (submit)="onSubmit(productForm)" [class.loading]="loading">
    <div class="fields">
        <div class="eight wide field">
          <label>Product Name</label>
          <input type="text" placeholder="Name" name="name" ngModel>
        </div>
        <div class="eight wide field">
          <label>Quantity Available</label>
          <input type="number" placeholder="Enter quantity available for sale" name="quantityAvailable" ngModel>
        </div>
    </div>
    <div class="equal width fields">

      <div class="field">
        <label>Minimum Quantity</label>
        <input type="number" placeholder="Minimum quantity allowed to purchased" name="minimumQuantity" ngModel>
      </div>
      <div class="field">
        <label>Editable Quantity</label>
        <input type="number"  placeholder="Quantity Editable" name="editableQuantity" ngModel>
      </div>

   </div>
     <div class="field">
       <label>Format - Type: P, D, M </label>
       <input type="text" maxlength="1" placeholder="Format type: physical, digital, mixed" name="format" ngModel>
     </div>
    <!-- <div>
      <select class="ui dropdown" style="margin-bottom:15px;" >
        <option value="">Select Format</option>
        <option value="physical">Physical</option>
        <option value="digital">Digital</option>
        <option value="mixed">Mixed</option>
      </select>

    </div> -->

    <div class="equal width fields">

      <div class="field">
        <label>Unit Price</label>
        <input type="number" maxlength="4" placeholder="Price per unit" name="unitPrice" ngModel>
      </div>

      <div class="field">
        <label>Discount Price</label>
        <input type="number" maxlength="4" placeholder="Price discounted per unit" name="discountPrice" ngModel>
      </div>
    </div>

    <button type="submit" class="ui submit large grey button right floated">Submit</button>
  </form>
</div>
